:root {
    --primary-bg-color: #2A3647;
    --bold-font-size: 700;
    --light-blue: #29ABE2;
    --request-font-main-color: #2A3647;
}

h1 {
    font-family: "Open Sans";
    color: var(--request-font-main-color);
}

.request_welcome_container {
    font-family: "Open Sans";
    color: var(--request-font-main-color);
    width: clamp(300px, 80vw, 1400px);
    z-index: 1;
    opacity: 1;
    height: 603px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 24px;
    padding: 56px 72px 56px 72px;
}

.request_header {
    position: absolute;
    top: 0;
}

.request_header p {
    color: var(--light-blue);
}

.request_header span {
    font-weight: var(--bold-font-size);
}

.request_logo {
    position: absolute;
    width: 46px;
    height: 56px;
    top: 29px;
    left: 40px;
    z-index: 1;
}

.request_logo img {
    max-width: 100%;
    height: auto;
}

.request_btn_back {
    background: none;
    border: none;
    height: 32px;
    width: 32px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request_btn_back:hover {
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 1);
}

.request_left {
    gap: 40px;
}

.request_headline {
    font-size: 28px;
}

.request_right, img {
    width: 420px;
}




.request_btn_standard {
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 700;
    border: 1px solid var(--light-blue);
    height: 50px;
    font-size: 20px;
}

.request_btn_standard:hover {
    border: 2px solid var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.wlcm_btn_standard:active {
    border: 1px solid var(--light-blue);
    background: var(--light-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_member {
    width: 125px;
    height: 50px;
    font-size: 20px;
}